<nav class="navbar navbar-expand-lg navbar-light bg-white border-bottom" xmlns:th="http://www.thymeleaf.org"
     xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <div class="container">
        <a class="navbar-brand" href="/home">
            Sweet<span>Fashion</span>
        </a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#mainNavbar" aria-controls="mainNavbar"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/admin/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/order">Orders</a>
                </li>
            </ul>

            <!-- WHEN USER IS LOGGED IN -->
            <div sec:authorize="${isAuthenticated()}" class="d-flex gap-3">
                <a href="/logout" class="btn btn-primary">Logout</a>
            </div>
        </div>
    </div>
</nav>